<h3>center list</h3>


<div *ngIf="centers!==undefined && centers!==null" style="margin-top: 30px;">
<table border="2">

    <tr>
        <th>CenterId</th>
        <th>CenterName</th>
        <th>Operation</th>
    </tr>
    <tr *ngFor="let center of centers" >

        <td>
            {{center.centerId}}
        </td>

        <td>
            {{center.centerName}}
        </td>

        <td>
            <button class="btn btn-danger" (click)="deleteCenter(center.centerId)"> Delete</button>
        </td>

    </tr>
</table>
</div>

<div *ngIf="errMsg!==undefined" class="error" style="margin-top: 30px;">

{{errMsg}}

</div>